<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sign up template</title>

  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>

<body >
<h4>Thanks for choosing us!</h4>
<br>
<a href="https://<%= link%>" target="_blank" >Click here</a> to complete the sign up process.
      
</body>

</html>